.vscode/
.idea/
.cache/
.serverless/
.requirements/
__pycache__/
*.pyc
node_modules/
elasticpypi/config.json
.mypy_cache/

yarn.lock
package-lock.json
venv/

wsgi_handler.py
serverless_wsgi.py
.serverless-wsgi
