[tool.black]
line-length = 120
target-version = ['py39']

[tool.isort]
force_single_line = true
line_length = 120
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
