on: [push]
name: Build and Test
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Curl
      if: ${{ matrix.python-version == '3.9' }}
      run: |
        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - name: Prepare
      if: ${{ matrix.python-version == '3.9' }}
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      run: |
        chmod +x ./cc-test-reporter && ./cc-test-reporter before-build
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -r test-requirements.txt
    - name: Test with pytest
      run: |
        python -m pytest --cov=elasticpypi --cov-report=term-missing --cov-report=xml
    - name: Lint
      run: |
        flake8 -v
    - name: Report
      if: ${{ matrix.python-version == '3.9' }}
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      run: |
        ./cc-test-reporter after-build --coverage-input-type coverage.py
